<div class="content">
    <p>We are a community based help service!</p>
    <p>Our product solves the problem with the lack of fast, context-specific and most importantly - untampered help out
        there.

        We solve that problem for our users by providing them an instant and specific help from people that may have
        already walked the same path and bought the same product.

        So next time, when you visit a site and you can't find a review or an answer that satisfies your information
        needs, you can open up our chat widget and ask a non-formal question to one of our helpers.</p>
    
    <button class="white">TRY IT FREE</button>
    <button class="orange">SIGN UP</button>
</div>